@model Gestionale_Pizzeria.Models.Prodotti

@{
    ViewBag.Title = "PartialViewSingoloProdotto";
    Layout = null;
}


    
    <div class="col">
        <h2>@Model.Nome</h2>

        <h3>Prezzo:</h3>
        <p>@Model.PrezzoVendita</p>

        <h3>Tempo di preparazione</h3>
        <p>@Model.TempoDiPreparazione</p>

        <h3>Ingredienti:</h3>
        <p>@Model.Ingredienti</p>
    </div>
    <div class="col">
        <img class="card-img-top w-50 rounded" src="~/Content/FileUpload/@Model.UrlImg" alt="Card image cap">
    @*</div>*@
